*{
    margin: 0; 
    padding:0; 
}
 body{
    height: 100%;
    width: 100%;
    
}

section{
    height: 1000px;
    width: 100%;
    background-color: rgba(177, 116, 55, 0.895);
    display: flex;
    background-size: cover;
}

 .part1{
    height: 100%;
    width: 25%;
    /* background-color: aqua; */
}

.part2{
    height: 100%;
    width: 65%;
    background-color: rgb(0, 255, 255); 
    background-image: url(https://images.unsplash.com/photo-1609505848912-b7c3b8b4beda?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fGZhc2hpb258ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}
.cover{
    height: 100%;
    width: 100%;
    background-color: rgba(230, 134, 78, 0.138);
}

.text{
    /* height: 300px; */
    position: absolute;
    width:400px;
    /* background-color: white; */
    left: 8%;
    top: 30%;
    -webkit-animation:reverse;
}

.text h1{
    font-size: 95px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 10px;
    line-height: 78px;
    color:rgb(255, 255, 255);
    
}

.small-img{
    height: 400px;
    width: 400px;
    background-color: aquamarine;
    position: absolute;
    top: 30%;
    right: 2%;
    background-image: url(https://images.unsplash.com/photo-1611042553484-d61f84d22784?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position:center;
}

.small-cover{
    height: 100%;
    width: 100%;
    background-color: rgba(189, 115, 71, 0.029);
}

.vertical-text{
    position: absolute;
    width: 100%;
    left: 47%;
    top: 100%;
}

.vertical-text h1{
    font-size: 60px;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(251, 235, 235);
    color:transparent;
    letter-spacing:13px;
    transform: rotate(90deg);
}